
 @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400;700&family=Pacifico&family=Piazzolla&family=Radio+Canada:wght@500&family=Rubik+Puddles&family=Source+Code+Pro:wght@500&family=Square+Peg&family=Water+Brush&family=Work+Sans&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Piazzolla", serif;
}
:root{
    --background:#141414;
    --text-color:#fff;
    --primary-color:#63ff69;
    --secondary-color:#000;
    --alpha-color:rgba(0,0,0,0.5);
    --shadow:0 15px 40px var(var(--alpha-color));
}
html{
    background: var(--background);
    display: flex;
    font-size: 62.5%;
    justify-content: center;
}
body{
    width: 100%;
    height: 100vh;
    max-width: 375px;
    position: relative;
    background: var(--background);
    color: var(--text-color);
}
::-webkit-scrollbar{
    display: none;
}
/* **************homesection start ********************* */
.home-section{
width: 100%;
padding: 20px;
height: 100%;
padding-bottom: 100px;
overflow-y: auto;
}
/* *************carousel********************* */
.carousel{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: var(--shadow);
    position: relative;
}
.carousel img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 1s;
}
.carousel img.active{
    opacity: 1;
}
.heading{
    margin: 2rem 0 1rem;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 3.5rem;
}

/* playlist cards  */

.playlists-group{
    position: relative;
    width: 100;
    min-height: 200px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.playlist-card{
    flex: 0 0 auto;
    max-width: 15rem;
    height: 100%;
    margin-right: 20px;
}
.play-list-card{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 2rem;
}
.playlist-card-name{
    width: 100%;
    text-align: center;
    font-size: 1.9rem;
    text-transform: capitalize;
    padding: .5rem;
}

/* ***********************music player******************** */

/* *****************minimize view*********************** */

.music-player-section{
    width: 100%;
    height: 10rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--alpha-color);
    backdrop-filter: blur(5rem);
    transition: 1s;
}
.music-seek-bar{
    -webkit-appearance: none;
    width: 100%;
    position: absolute;
    top: -.4rem;
    height: .8rem;
    background: var(--secondary-color);
    overflow: hidden;
}
.music-seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1rem;
    width: .5rem;
    background: var(--primary-color);
    cursor: pointer;
     box-shadow: -40rem 0 0 40rem var(--primary-color);
}
.current-song-name{
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    margin-top: .5rem;
    text-transform: capitalize;
}

.controls{
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 3rem;
}
 .controls span{
     display: none;
     opacity: 0;
     transition: 1s;
 }
 .music-player-section.active .controls{
     justify-content: space-between;
 }
 .music-player-section.active .controls span{
     font-size: 2.5rem;
     display: block;
     opacity: .5;
 }
 .music-player-section.active .controls span.acitve{
     color: var(--primary-color);
     opacity: 1;
 }
 .controls .main i{
     margin: 0 .5rem;
     display: none;
 }
 .controls .main i.active{
     display: inline;
 }

 /* minimize music player styles  */
 .music-player-section .hide{
     display: none;
     opacity: 0;
     transition: 1s;
 }
i{
    cursor: pointer;
}
 .music-player-section.active .hide{
    display: block;
    opacity: 1;
}
.music-player-section.active{
    width: 100%;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
.music-player-section.active .music-seek-bar{
    position: relative;
    display: block;
    border-radius: 5rem;
    margin: auto;
}
.music-player-section.active .controls{
    width: 100%;
    font-size: 5rem;
}

.artist-name{
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
}
.cover{
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    border-radius: 2rem;
    margin:auto;
    box-shadow: var(--shadow);
}


.current-time{
    position: absolute;
    font-size: 2.5rem;
    margin-top: .5rem;
    left: 3rem;
}
.duration{
    position: absolute;
    margin-top: .5rem;
    font-size: 2.5rem;
    right: 3rem;
}

.icon{
    position: absolute;
    top: 6rem;
    transform: scale(1.3);
}
.back-btn{
    left: 4rem;
}
.nav-btn{
    right: 4rem;
}

/* volume button  */

.volume-slider{
    -webkit-appearance: none;
    width: 10rem;
    height: 4rem;
    position: absolute;
    right: -3.5rem;
    bottom: 8rem;
    transform: rotate(-90deg);
    border-radius: 2rem;
    overflow: hidden;
    opacity: 0;
    /* display: none; */
    background: var(--alpha-color);
}

.volume-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 4rem;
    width: 1rem;
    background: var(--primary-color);
    box-shadow: -20rem 0 .1rem 20rem var(--primary-color);
}
.volume-slider.active {
    opacity: 1;
    display: block;
}

/* playlist ********************* */

.playlist{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 3;
    padding: 3rem 0;
    background: var(--background);
    transition: 1s;
    overflow: auto;
}
.playlist.active{
    right: 0;
}
.title{
    font-weight: 300;
    font-size: 4rem;
    text-align: center;
    margin-top: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    text-transform: capitalize;
}
.quence{
    width: 100%;
    height: 8rem;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    border-top: .2rem solid var(--alpha-color);
}
.quence-cover{
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-right: 2rem;
    position: relative;
}
.quence-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.quence-cover i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
    color: var(--primary-color);
    display: none;
}
.quence .name{
    font-size: 2.2rem;
    text-transform: capitalize;
}
